<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My Blog | New Article</title>
</head>
<body>
{% include 'nav.html' %}
    <form action="{% url 'new_article_action' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        Title : <input type="text" name="title"/><br>
        Content : <textarea  name="content"></textarea><br>
        Image : <input type="file" name="image"><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>